<?php

// if you get a max execution exceed error uncomment the following line
// and modify the time limit as needed
//set_time_limit(100);


$testcases = array(
    'MDB_manager_testcase',
    'MDB_api_testcase',
    'MDB_usage_testcase',
    'MDB_bugs_testcase',
);

$dbarray[] = array(
    'dsn' => array(
        'phptype' => 'pgsql',
        'username' => 'username',
        'password' => 'password',
        'hostspec' => 'hostname',
    ),
    'options' => array(
    )
);
$dbarray[] = array(
    'dsn' => array(
        'phptype' => 'mysql',
        'username' => 'username',
        'password' => 'password',
        'hostspec' => 'hostname',
    ),
    'options' => array(
        'UseTransactions' => TRUE
    )
);

?>