<?php

$testarray = array('MDB_manager_testcase',
                   'MDB_api_testcase',
                   'MDB_usage_testcase'
                   );

$dbarray[] = array('dsn' => "pgsql://username@hostname/databasename");
$dbarray[] = array(
    'dsn' => "mysql://username:password@hostname/databasename",
    'options' => array('UseTransactions'=>TRUE)
);

?>