<?php

$testarray = array('MDB_manager_testcase',
                   'MDB_api_testcase',
                   'MDB_usage_testcase'
                   );

$dsnarray[] = "pgsql://username@hostname/databasename";
$dsnarray[] = "mysql://username:password@hostname/databasename";

?>